---
import Layout from '../layouts/Layout.astro'
import { ProductCard } from '../modules/product/components/ProductCard'
---

<Layout title="Digital Key">
  <main>
    <section>
      <ProductCard />
    </section>
  </main>
</Layout>
