---
import Layout from '../layouts/Layout.astro'
import { ProductCard } from '../modules/product/components/ProductCard'
---

<Layout title="Digital Key">
  <main>
    <section class="recommended" >
      <ProductCard  />
      <ProductCard  />
      <ProductCard  />
    </section>
   <div class="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo adipisci iure exercitationem autem, perspiciatis aliquam sequi consectetur earum animi delectus repellat aspernatur, omnis obcaecati voluptate, fugit laboriosam praesentium vel ipsam.</p>
   </div>
  </main>
</Layout>
